:root {
    /* Color */
    --primaryColor: #002c54;
    --lightPrimaryColor: #274368;
    --secondaryColor: #c79f08;
    --lightSecondaryColor: #c79f0880;
    --headingColor: #000000;
    --textColor: #000000;
    --blackColor: #000000;
    --whiteColor: #ffffff;
    --lightWhiteColor: #ffffff80;
    --greyColor: #e6e7e8;
    --darkGreyColor: #cccccc;
    --lightGreyColor: #eeeeee;
    /* FontFamily */
    --primaryFontFamily: "Outfit", sans-serif;
    --secondaryFontFamily: "Open Sans", sans-serif;
    --tertiaryFontFamily: "Montserrat", sans-serif;
    --textFontFamily: "Inter", sans-serif;
    /* sectionPadding */
    --sectionPadding: clamp(80px, 6vw, 90px);
    /* HeadingFont */
    --XXlHeadingFont: clamp(47px, 4vw, 55px);
    --XlHeadingFont: clamp(40px, 3.5vw, 46px);
    --lgHeadingFont: clamp(30px, 2.8vw, 34px);
    --mdHeadingFont: clamp(26px, 2.4vw, 30px);
    --smHeadingFont: clamp(22px, 2vw, 24px);
    --xsHeadingFont: clamp(20px, 1.8vw, 21px);
    /* TagMargin */
    --lgMargin: 25px;
    --mdMargin: 23px;
    --smMargin: 21px;
    /* TextFont */
    --normalTextFont: 18px;
    --smTextFont: 16px;
    --xsTextFont: 14px;
    /* inputLinBtnFont */
    --btnFont: 16px;
    --inputTextFont: 16px;
}
@media only screen and (max-width: 1399.98px) {
    :root {
        --sectionPadding: clamp(70px, 5vw, 80px);

        --XXlHeadingFont: clamp(43px, 3.8vw, 47px);
        --XlHeadingFont: clamp(37px, 3.2vw, 40px);
        --lgHeadingFont: clamp(28px, 2.6vw, 30px);
        --mdHeadingFont: clamp(24px, 2.2vw, 26px);
        --smHeadingFont: clamp(21px, 2vw, 22px);
        --xsHeadingFont: clamp(19px, 1.8vw, 20px);

        --lgMargin: 24px;
        --mdMargin: 22px;
        --smMargin: 20px;

        --normalTextFont: clamp(17px, 1.2vw, 17px);
        --smTextFont: clamp(15px, 1.1vw, 15px);
        --xsTextFont: clamp(13px, 1vw, 13px);

        --btnFont: 15px;
        --inputTextFont: 15px;
    }
}

@media only screen and (max-width: 1199.98px) {
    :root {
        --sectionPadding: clamp(60px, 5vw, 70px);

        --XXlHeadingFont: clamp(39px, 3.6vw, 43px);
        --XlHeadingFont: clamp(34px, 3vw, 37px);
        --lgHeadingFont: clamp(26px, 2.5vw, 28px);
        --mdHeadingFont: clamp(22px, 2vw, 24px);
        --smHeadingFont: clamp(20px, 1.8vw, 21px);
        --xsHeadingFont: 19px;

        --lgMargin: 23px;
        --mdMargin: 21px;
        --smMargin: 19px;

        --normalTextFont: 17px;
        --smTextFont: 15px;
        --xsTextFont: 13px;

        --btnFont: 15px;
        --inputTextFont: 15px;
    }
}

@media only screen and (max-width: 991.98px) {
    :root {
        --sectionPadding: clamp(50px, 5vw, 60px);

        --XXlHeadingFont: clamp(35px, 3.4vw, 39px);
        --XlHeadingFont: clamp(31px, 3vw, 34px);
        --lgHeadingFont: clamp(24px, 2.3vw, 26px);
        --mdHeadingFont: clamp(21px, 2vw, 22px);
        --smHeadingFont: 19px;
        --xsHeadingFont: 18px;

        --lgMargin: 22px;
        --mdMargin: 20px;
        --smMargin: 18px;

        --normalTextFont: 16px;
        --smTextFont: 14px;
        --xsTextFont: 12px;

        --btnFont: 14px;
        --inputTextFont: 14px;
    }
}

@media only screen and (max-width: 767.98px) {
    :root {
        --sectionPadding: clamp(40px, 5vw, 50px);

        --XXlHeadingFont: clamp(32px, 3vw, 35px);
        --XlHeadingFont: clamp(28px, 2.8vw, 31px);
        --lgHeadingFont: clamp(22px, 2.2vw, 24px);
        --mdHeadingFont: 20px;
        --smHeadingFont: 19px;
        --xsHeadingFont: 18px;

        --lgMargin: 21px;
        --mdMargin: 19px;
        --smMargin: 17px;

        --normalTextFont: 16px;
        --smTextFont: 14px;
        --xsTextFont: 12px;

        --btnFont: 14px;
        --inputTextFont: 14px;
    }
}
/* Text Colors */
.primaryColor {
    color: var(--primaryColor) !important;
}
.lightPrimaryColor {
    color: var(--lightPrimaryColor) !important;
}
.secondaryColor {
    color: var(--secondaryColor) !important;
}
.lightSecondaryColor {
    color: var(--lightSecondaryColor) !important;
}
.headingColor {
    color: var(--headingColor) !important;
}
.textColor {
    color: var(--textColor) !important;
}
.blackColor {
    color: var(--blackColor) !important;
}
.whiteColor {
    color: var(--whiteColor) !important;
}
.lightWhiteColor {
    color: var(--lightWhiteColor) !important;
}
.greyColor {
    color: var(--greyColor) !important;
}
.darkGreyColor {
    color: var(--darkGreyColor) !important;
}
/* Background Colors */
.primaryBg {
    background-color: var(--primaryColor) !important;
}
.lightPrimaryBg {
    background-color: var(--lightPrimaryColor) !important;
}
.secondaryBg {
    background-color: var(--secondaryColor) !important;
}
.lightSecondaryBg {
    background-color: var(--lightSecondaryColor) !important;
}
.headingBg {
    background-color: var(--headingColor) !important;
}
.textBg {
    background-color: var(--textColor) !important;
}
.blackBg {
    background-color: var(--blackColor) !important;
}
.whiteBg {
    background-color: var(--whiteColor) !important;
}
.lightWhiteBg {
    background-color: var(--lightWhiteColor) !important;
}
.greyBg {
    background-color: var(--greyColor) !important;
}
.darkGreyBg {
    background-color: var(--darkGreyColor) !important;
}
body {
    color: var(--textColor);
    font-size: var(--normalTextFont);
    line-height: 1.6;
    font-weight: 400;
    font-family: var(--textFontFamily);
}
p {
    color: var(--textColor);
    font-size: var(--normalTextFont);
    line-height: 1.6;
    font-weight: 400;
    font-family: var(--textFontFamily);
    margin-bottom: var(--smMargin);
}
h1,
.h1 {
    color: var(--headingColor);
    font-size: var(--XXlHeadingFont);
    line-height: 1.1;
    font-weight: 600;
    font-family: var(--primaryFontFamily);
    margin-bottom: var(--lgMargin);
}
h2,
.h2 {
    color: var(--headingColor);
    font-size: var(--XlHeadingFont);
    line-height: 1.1;
    font-weight: 600;
    font-family: var(--primaryFontFamily);
    margin-bottom: var(--lgMargin);
}
h3,
.h3 {
    color: var(--headingColor);
    font-size: var(--lgHeadingFont);
    line-height: 1.2;
    font-weight: 600;
    font-family: var(--primaryFontFamily);
    margin-bottom: var(--mdMargin);
}
h4,
.h4 {
    color: var(--headingColor);
    font-size: var(--mdHeadingFont);
    line-height: 1.2;
    font-weight: 600;
    font-family: var(--primaryFontFamily);
    margin-bottom: var(--mdMargin);
}
h5,
.h5 {
    color: var(--headingColor);
    font-size: var(--smHeadingFont);
    line-height: 1.2;
    font-weight: 600;
    font-family: var(--primaryFontFamily);
    margin-bottom: var(--smMargin);
}
h6,
.h6 {
    color: var(--headingColor);
    font-size: var(--xsHeadingFont);
    line-height: 1.2;
    font-weight: 600;
    font-family: var(--primaryFontFamily);
    margin-bottom: var(--smMargin);
}
.link-text {
    color: var(--textColor);
    font-size: var(--normalTextFont);
    line-height: 1.5;
    font-weight: 400;
    font-family: var(--textFontFamily);
    border-bottom: 1px solid var(--textColor);
    position: relative;
}
.link-text:hover {
    color: var(--primaryColor);
    border-color: var(--primaryColor);
}
.link-text-icon {
    position: relative;
    margin-right: 27px;
}
.link-text-icon:after {
    content: "\f145";
    font-family: "bootstrap-icons" !important;
    position: absolute;
    right: -35px;
    font-size: 30px;
    line-height: 1;
    rotate: 50deg;
    top: 0;
    bottom: 0;
    display: inline-flex;
    align-items: center;
    justify-content: end;
}
@media only screen and (max-width: 991.98px) {
    .title-text-btn-box-title p:last-child {
        margin-bottom: 15px;
    }
}
@media only screen and (max-width: 767.98px) {
    .link-text-icon:after {
        font-size: 27px;
    }
}
