:root {
    /* Color */
    --primaryColor: #002c54;
    --lightPrimaryColor: #274368;
    --secondaryColor: #c79f08;
    --lightSecondaryColor: #c79f0880;
    --headingColor: #000000;
    --textColor: #000000;
    --blackColor: #000000;
    --whiteColor: #ffffff;
    --lightWhiteColor: #ffffff80;
    --greyColor: #e6e7e8;
    --darkGreyColor: #cccccc;
    --lightGreyColor: #eeeeee;
    /* FontFamily */
    --primaryFontFamily: "Outfit", sans-serif;
    --secondaryFontFamily: "Open Sans", sans-serif;
    --tertiaryFontFamily: "Montserrat", sans-serif;
    --textFontFamily: "Inter", sans-serif;
    /* sectionPadding */
    --sectionPadding: 85px;
    /* HeadingFont */
    --XXlHeadingFont: 55px;
    --XlHeadingFont: 46px;
    --lgHeadingFont: 34px;
    --mdHeadingFont: 30px;
    --smHeadingFont: 24px;
    --xsHeadingFont: 21px; 
    /* TagMargin */
    --lgMargin: 25px;
    --mdMargin: 23px;
    --smMargin: 21px;
    /* TextFont */
    --normalTextFont: 18px;
    --smTextFont: 16px;
    --xsTextFont: 14px;
    /* inputLinBtnFont */
    --btnFont: 16px;
    --inputTextFont: 16px;
}
@media only screen and (max-width: 1799.98px) {
    :root {
         /* sectionPadding */
        --sectionPadding: 80px;

        /* HeadingFont */
        --XXlHeadingFont: 50px;
        --XlHeadingFont: 43px;
        --lgHeadingFont: 33px;
        --mdHeadingFont: 29px;
        --smHeadingFont: 24px;
        --xsHeadingFont: 21px; 

         /* TagMargin */
        --lgMargin: 24px;
        --mdMargin: 22px;
        --smMargin: 20px;
    }
}
@media only screen and (max-width: 1599.98px) {
    :root {
        /* sectionPadding */
        --sectionPadding: 75px;

        /* HeadingFont */
       --XXlHeadingFont: 45px;
        --XlHeadingFont: 40px;
        --lgHeadingFont: 32px;
        --mdHeadingFont: 28px;
        --smHeadingFont: 23px;
        --xsHeadingFont: 20px; 

       /* TagMargin */
        --lgMargin: 23px;
        --mdMargin: 21px;
        --smMargin: 19px;

        /* TextFont */
        --normalTextFont: 18px;
        --smTextFont: 16px;
        --xsTextFont: 14px;
        /* inputLinBtnFont */
        --btnFont: 16px;
        --inputTextFont: 16px;
    }
}
@media only screen and (max-width: 1399.98px) {
    :root {
        /* sectionPadding */
        --sectionPadding: 70px;

        /* HeadingFont */
        --XXlHeadingFont: 40px;
        --XlHeadingFont: 37px;
        --lgHeadingFont: 31px;
        --mdHeadingFont: 27px;
        --smHeadingFont: 23px;
        --xsHeadingFont: 20px; 

        /* TagMargin */
        --lgMargin: 22px;
        --mdMargin: 20px;
        --smMargin: 18px;
    }
}
@media only screen and (max-width: 1199.98px) {
    :root {
        /* sectionPadding */
        --sectionPadding: 65px;

        /* HeadingFont */
       --XXlHeadingFont: 38px;
        --XlHeadingFont: 34px;
        --lgHeadingFont: 30px;
        --mdHeadingFont: 26px;
        --smHeadingFont: 22px;
        --xsHeadingFont: 19px; 

        /* TagMargin */
        --lgMargin: 21px;
        --mdMargin: 19px;
        --smMargin: 17px;

        /* TextFont */
        --normalTextFont: 17px;
        --smTextFont: 15px;
        --xsTextFont: 13px;
        /* inputLinBtnFont */
        --btnFont: 15px;
        --inputTextFont: 15px;
    }
}
@media only screen and (max-width: 991.98px) {
    :root {
        /* sectionPadding */
        --sectionPadding: 60px;

        /* HeadingFont */
         --XXlHeadingFont: 36px;
        --XlHeadingFont: 31px;
        --lgHeadingFont: 29px;
        --mdHeadingFont: 25px;
        --smHeadingFont: 22px;
        --xsHeadingFont: 19px; 

       /* TagMargin */
        --lgMargin: 20px;
        --mdMargin: 18px;
        --smMargin: 16px;
    }
}
@media only screen and (max-width: 767.98px) {
    :root {
        /* sectionPadding */
        --sectionPaddingMd: 55px;

        /* HeadingFont */
       --XXlHeadingFont: 34px;
        --XlHeadingFont: 28px;
        --lgHeadingFont: 27px;
        --mdHeadingFont: 24px;
        --smHeadingFont: 21px;
        --xsHeadingFont: 18px; 

        /* TagMargin */
        --lgMargin: 19px;
        --mdMargin: 17px;
        --smMargin: 15px;

        /* TextFont */
        --normalTextFont: 16px;
        --smTextFont: 14px;
        --xsTextFont: 12px;
        /* inputLinBtnFont */
        --btnFont: 14px;
        --inputTextFont: 14px;
    }
}
@media only screen and (max-width: 575.98px) {
    :root { 
        /* sectionPadding */
        --sectionPaddingMd: 50px;
        /* HeadingFont */
        --XXlHeadingFont: 32px;
        --XlHeadingFont: 27px;
        --lgHeadingFont: 25px;
        --mdHeadingFont: 23px;
        --smHeadingFont: 21px;
        --xsHeadingFont: 18px; 

        /* TagMargin */
        --lgMargin: 18px;
        --mdMargin: 16px;
        --smMargin: 14px;
    }
}

/* Text Colors */
.primaryColor {
    color: var(--primaryColor) !important;
}
.lightPrimaryColor {
    color: var(--lightPrimaryColor) !important;
}
.secondaryColor {
    color: var(--secondaryColor) !important;
}
.lightSecondaryColor {
    color: var(--lightSecondaryColor) !important;
}
.headingColor {
    color: var(--headingColor) !important;
}
.textColor {
    color: var(--textColor) !important;
}
.blackColor {
    color: var(--blackColor) !important;
}
.whiteColor {
    color: var(--whiteColor) !important;
}
.lightWhiteColor {
    color: var(--lightWhiteColor) !important;
}
.greyColor {
    color: var(--greyColor) !important;
}
.darkGreyColor {
    color: var(--darkGreyColor) !important;
}
/* Background Colors */
.primaryBg {
    background-color: var(--primaryColor) !important;
}
.lightPrimaryBg {
    background-color: var(--lightPrimaryColor) !important;
}
.secondaryBg {
    background-color: var(--secondaryColor) !important;
}
.lightSecondaryBg {
    background-color: var(--lightSecondaryColor) !important;
}
.headingBg {
    background-color: var(--headingColor) !important;
}
.textBg {
    background-color: var(--textColor) !important;
}
.blackBg {
    background-color: var(--blackColor) !important;
}
.whiteBg {
    background-color: var(--whiteColor) !important;
}
.lightWhiteBg {
    background-color: var(--lightWhiteColor) !important;
}
.greyBg {
    background-color: var(--greyColor) !important;
}
.darkGreyBg {
    background-color: var(--darkGreyColor) !important;
}
body {
    color: var(--textColor);
    font-size: var(--normalTextFont);
    line-height: 1.6;
    font-weight: 400;
    font-family: var(--textFontFamily);
}
p {
    color: var(--textColor);
    font-size: var(--normalTextFont);
    line-height: 1.6;
    font-weight: 400;
    font-family: var(--textFontFamily);
    margin-bottom: var(--smMargin);
}
h1,
.h1 {
    color: var(--headingColor);
    font-size: var(--XXlHeadingFont);
    line-height: 1.1;
    font-weight: 600;
    font-family: var(--primaryFontFamily);
    margin-bottom: var(--lgMargin);
}
h2,
.h2 {
    color: var(--headingColor);
    font-size: var(--XlHeadingFont);
    line-height: 1.1;
    font-weight: 600;
    font-family: var(--primaryFontFamily);
    margin-bottom: var(--lgMargin);
}
h3,
.h3 {
    color: var(--headingColor);
    font-size: var(--lgHeadingFont);
    line-height: 1.2;
    font-weight: 600;
    font-family: var(--primaryFontFamily);
    margin-bottom: var(--mdMargin);
}
h4,
.h4 {
    color: var(--headingColor);
    font-size: var(--mdHeadingFont);
    line-height: 1.2;
    font-weight: 600;
    font-family: var(--primaryFontFamily);
    margin-bottom: var(--mdMargin);
}
h5,
.h5 {
    color: var(--headingColor);
    font-size: var(--smHeadingFont);
    line-height: 1.2;
    font-weight: 600;
    font-family: var(--primaryFontFamily);
    margin-bottom: var(--smMargin);
}
h6,
.h6 {
    color: var(--headingColor);
    font-size: var(--xsHeadingFont);
    line-height: 1.2;
    font-weight: 600;
    font-family: var(--primaryFontFamily);
    margin-bottom: var(--smMargin);
}
.link-text {
    color: var(--textColor);
    font-size: var(--normalTextFont);
    line-height: 1.5;
    font-weight: 400;
    font-family: var(--textFontFamily);
    border-bottom: 1px solid var(--textColor);
    position: relative;
}
.link-text:hover {
    color: var(--primaryColor);
    border-color: var(--primaryColor);
}
.link-text-icon {
    position: relative;
    margin-right: 27px;
}
.link-text-icon:after {
    content: "\f145";
    font-family: "bootstrap-icons" !important;
    position: absolute;
    right: -35px;
    font-size: 30px;
    line-height: 1;
    rotate: 50deg;
    top: 0;
    bottom: 0;
    display: inline-flex;
    align-items: center;
    justify-content: end;
}
@media only screen and (max-width: 991.98px) {
    .title-text-btn-box-title p:last-child {
        margin-bottom: 15px;
    }
}
@media only screen and (max-width: 767.98px) {
    .link-text-icon:after {
        font-size: 27px;
    }
}
